html, body{
	padding: 0;
	margin: 0;
}
/* Resets the floats */
.reset{
	clear: both;
}
header .naviBar{
	width:100%;
	height:40px;
	margin:0 auto;
	background:#e1e1e1;
	border-bottom: 1px solid #a0a0a0;
	font-family: 'Roboto', sans-serif;
}
.titleLogo h1{
	margin:0;
	font-size: 1.2em;
	padding:8px 0 0 15px;
	float:left;
}
.runBtnDiv{
	float:right;
	padding: 8px 15px 0 0;
}
#runBtn{
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	border-radius: 2px;
}
.ulListDiv{
	padding-top: 5px;
}
.ulListDiv ul{
	position: relative;
	width: 251.9px;
	margin:0 auto;
	list-style:none;
	border: 1px solid black;
	border-radius: 3px;
	height: 29px;
	padding:0;
}
.ulListDiv ul li{
	float: left;
	border-right:1px solid grey;
	padding: 5px 7px;
}
.codeLanguage{
	position: absolute;
	right:10px;
	top:10px;
}
.containerForCode{
	position: relative; /*Contains the html code for the container in that div*/
	height:100%;
	width:100%;
	float:left;
}
.containerForCode textarea{
	width:100%;
	height:100%;
	border-right: 1px solid #111;
	font-family: monotype;
	font-size: 1.05em;
	padding:5px;
	box-sizing: border-box;
}
#CSSContainer, #JavaScriptContainer, #ResultContainer{
	display: none;
}
/*Used for toggling */
.selected{
	background:grey;
}
/*Only one iframe used.
  Dislays the result of the html, css, and jquery contents compiled.
*/
iframe{
	height:100%;
	width: 100%;
	position: relative;
	left:10px;
	border:none;
}
